@import "../../../scss/variables";

.section {
  width: 100vw;
  margin-top: 200px;
}
.container {
  max-width: $max-width;
  padding: $padding;
  margin: $margin;

  h2 {
    font-size: 120px;
    font-weight: 400;
    -webkit-text-stroke: 1px $black;
    color: transparent;
  }
}

.descrWrapper {
  width: 65%;
  margin-left: auto;
  margin-top: -80px;
  h3 {
    font-size: 64px;
    font-weight: 400;
    color: $gold;
  }
  p {
    font-size: 16px;
    line-height: 25px;
    font-family: "inter";
  }

  a {
    color: $gold;
    font-size: 20px;
  }
}

.textBlock {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 24px 0;

  p {
    color: $gray;
    font-size: 16px;
    line-height: 25px;
    font-family: "inter";
    width: 47%;
  }
}
