@import "../../../../scss/variables";

.wrapper {
  outline: $outline;
  position: relative;
  width: 50%;
  height: 100%;

  // background: rgb(156, 192, 133);
  z-index: 2;
}
.motionDiv {
  width: 200px;
  height: 200px;
}

.flakon {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 411px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  // display: block;
  // margin-left: auto;
  // margin-right: 20px;
  // margin-bottom: -100px;
}

.scarf {
  position: absolute;
  top: 10%;
  left: calc(100vw * 0.5 - 150%);
  height: 150%;
  width: 150%;
  z-index: -1;
}

.numbersBlock {
  outline: $outline;
  position: absolute;
  right: 0;

  p {
    font-size: 220px;
    line-height: 220px;
    color: $gold;
  }
  button {
    position: absolute;
    right: 0;
    bottom: 10%;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $gray;

    img {
      margin-left: 10px;
    }
  }
}
