@import "../../../scss/variables";

.section {
  max-width: $section-width;
  width: 100%;
  padding: $section-padding;
}
.container {
  outline: $outline;
  max-width: 80%;
  width: 100%;
  padding: $padding;
  padding-top: 100px;
  padding-bottom: 20px;
  margin: $margin;

  display: flex;
  justify-content: center;
}
.descr {
  width: 40%;

  p {
    width: 60%;
    margin: 20px 0 50px 0;
  }
}

.title {
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  color: $gold;
}

.link {
  font-size: 22px;
  color: $gold;
  border-bottom: 1px solid $gold;
}

.img {
  width: 430px;
  height: 355px;
}
