@import "../../../scss/variables";

.section {
  position: relative;
  display: flex;
  align-items: center;
  max-width: $section-width;
  width: 100%;
  height: calc(100vh - 90px);
  margin: $margin;
}

.container {
  max-width: $max-width;
  width: 100%;
  padding: 70px 15px 35px 15px;

  @media (min-width: $iphone12) {
    padding-top: 100px;
    padding-bottom: 60px;
  }
  @media (min-width: $galaxyFold) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
  }
  @media (min-width: $ipadPro) {
    padding: 150px;
  }
  @media (min-width: $pre-medium) {
    padding: 80px 190px;
  }
  @media (min-width: $medium) {
    padding: 0 270px;
  }
  @media (min-width: $max) {
    padding: 0 415px;
  }

  p {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
    @media (min-width: $galaxyFold) {
      text-align: left;
    }
    @media (min-width: $ipadPro) {
      margin-bottom: 40px;
    }
  }
}
.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $galaxyFold) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: $galaxyFold) {
    align-items: start;
  }
}

.title {
  position: relative;
  font-size: 60px;
  font-weight: 400;
  color: $gold;

  text-align: center;

  @media (min-width: $galaxyFold) {
    text-align: left;
  }

  @media (min-width: $ipadPro) {
    font-size: 64px;
  }
  @media (min-width: $pre-medium) {
    font-size: 120px;
  }

  .soul {
    position: relative;
    &::before {
      content: "SOUL ";
      position: absolute;
      top: -2px;
      left: -2px;
      font-size: 60px;
      font-weight: 400;
      -webkit-text-stroke: 1px $gold;
      color: transparent;
      @media (min-width: $ipadPro) {
        font-size: 64px;
      }
      @media (min-width: $pre-medium) {
        font-size: 120px;
      }
    }
  }
  .ofMine {
    position: relative;
    &::before {
      content: "OF MINE";
      position: absolute;
      top: -2px;
      left: -2px;
      font-size: 60px;
      font-weight: 400;
      -webkit-text-stroke: 1px $gold;
      color: transparent;
      @media (min-width: $ipadPro) {
        font-size: 64px;
      }
      @media (min-width: $pre-medium) {
        font-size: 120px;
      }
    }
  }
}

.img {
  width: 200px;
  height: 300px;
  @media (min-width: $galaxyFold) {
    display: none;
  }
}
.imgWrapper {
  display: none;

  @media (min-width: $galaxyFold) {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: ;
  }
}
.scarf {
  outline: $outline;
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 100;
  height: 100%;
  width: 100%;
  @media (min-width: $pre-medium) {
    width: 400px;
    height: 300px;
    right: 90px;
  }
  @media (min-width: $medium) {
    width: 1200px;
    height: 900px;
    bottom: 400px;
  }
}
.imgBig {
  width: 180px;
  height: 260px;
  @media (min-width: $pre-medium) {
    width: 320px;
    height: 420px;
  }
  @media (min-width: $medium) {
    width: 390px;
    height: 580px;
  }
}
.btns {
  display: flex;
  margin-top: 20px;

  button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $gold;
    margin: 0 5px;
    box-shadow: 0px 1px 4px rgba(142, 127, 59, 0.4);
  }
}

.sliderBtnActive {
  background: linear-gradient(78.06deg, #e6ba40 5.04%, #f9de93 28.84%, #e6ba40 55.79%, #f0d17a 78.25%, #e6ba40 91.27%);
}
