@import "../../scss/variables";

.footer {
  // outline: 1px solid rgb(0, 255, 26);
  width: 100%;
  // height: 340px;
  border-top: 1px solid $dark-gray;
}

.main {
  // outline: $outline;
  padding: 50px 15px;
  max-width: 80%;
  width: 100%;
  margin: $margin;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.subFooter {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid $dark-gray;

  p {
    text-transform: uppercase;
    font-family: "inter";
    text-align: right;
    font-size: 14px;
    line-height: 25px;
    color: $dark-gray;
    margin-right: 120px;
  }
}

.logo {
  width: 138px;
  height: 134px;
}

.nav {
  // outline: $outline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    width: 100%;
    font-family: "inter";
    font-size: 12px;
    line-height: 19px;
    margin: 4px 0;
    color: $dark-gray;
    a,
    p {
      font-family: "inter";
      color: $dark-gray;
      text-align: left;
      transition: $transition;

      &:hover {
        color: $black;
      }
    }
  }
  li:first-of-type {
    cursor: default;
  }
}

.activeLink {
  color: $black !important;
  transition: $transition;

  &::before {
    width: 100%;
    opacity: 1;
  }
}

.contacts {
  p {
    font-family: "inter";
    font-size: 12px;
    line-height: 19px;
    margin: 4px 0;
    color: $dark-gray;
  }
  .tel {
    font-size: 16px;
    line-height: 25px;
    margin: 4px 0;
    color: $dark-gray;
  }

  .social {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      width: 24px;
      height: 24px;
      margin-right: 18px;
      margin-top: 15px;
      color: $dark-gray;

      &:hover {
        color: $gold;
      }
    }
  }
  .ball {
    fill: $dark-gray;
    &:hover {
      fill: $gold;
    }
  }
}
