@font-face {
  font-family: "Vegawanty";
  src: url("./fonts/VegawantyRegular-owEPx.ttf");
  src: local("./fonts/VegawantyRegular-owEPx"), local("VegawantyRegular-owEPx"),
    url("./fonts/VegawantyRegular-owEPx.ttf") format("embedded-opentype"),
    url("./fonts/VegawantyRegular-owEPx.ttf") format("ttf");
}
