$gold: #bb9c13;
$gray: #838383;
$black: #0f0f0f;

// container styles
$max-width: 1170px;
$padding: 20px 15px;
$margin: 0 auto;
$outline: 1px solid rgb(148, 0, 0);

// breackpoints
$mob: 527px;
$tab: 1139px;

$transition: all 0.2s linear;
